# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# IDE / Editor settings
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PyInstaller build files
build/
dist/
*.spec

# Logs
*.log

# Others
*.bak
*.tmp
